<h1>All Posts</h1>
 <% if policy(Post.new).create? %>
 <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
<% end %>

<% @posts.each do |post| %>
  <p><%= link_to post.title, post %></p>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
       <small>
         submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><b>
         <%= post.comments.count %> Comments
       </small>
     </div>
   </div>
<% end %>
